<div class="top-bar">
  <div class="top-bar-inner">
      <span class="logo-img">
        <%= image_tag("code-fork-symbol.png") %>
      </span>
      <span class="logo-txt">Clean Forks</span>
  </div>
</div>
