<div class="top-bar">
  <div class="top-bar-inner">
      <span class="logo-img">
        <%= image_tag("code-fork-symbol.png") %>
      </span>
      <span class="logo-txt">Clean Forks</span>
  </div>
</div>

<div class="filter-list-container">
  <div class="filter-list">
    <div class="filter-item active">
      <div class="text">No open pull requests</div>
      <div class="icon">
        <%= image_tag("active-filter.png") %>
      </div>
      <div class="active-border"></div>
    </div>
    <div class="filter-item">
      <div class="text">No unmerged branches</div>
      <div class="icon">
        <%= image_tag("inactive-filter.png") %>
      </div>
      <div class="active-border"></div>
    </div>
  </div>
</div>
