<div class="top-bar">
  <div class="top-bar-inner">
      <span class="logo-img">
        <%= image_tag("code-fork-symbol.png") %>
      </span>
      <span class="logo-txt">Clean Forks</span>
  </div>
</div>

<div class="filter-list-container" id="filter-list"></div>

<div class="search-info">
  24 repositories matched
</div>

<div class="search-result-list-container" id="search-result-list">
</div>

<div class="footer">
  <a href="#">View source on GitHub</a>
</div>
