<div class="marketing-wrapper">
  <%= image_tag("code-fork-symbol.svg", height: 100) %>

  <h1 class="heading">Clean Forks</h1>
  <span class="subheading">A tool to cleanup old GitHub forks</span>

  <br/><br/>

  <div>
    <a href="/auth/github" class="primary-button">Sign in</a>
  </div>
  <span class="subtext">
    <a href="#">Need convincing?</a>
  </span>
</div>
