$top-bar-black: #24292E;

@mixin centered-container() {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*
 * ----------------------------------------
 * ---------------  TOP BAR ---------------
 * ----------------------------------------
 */

$top-bar-height: 54px;
$logo-size: 22px;

.top-bar {
    background-color: $top-bar-black;
    height: $top-bar-height;
    font-family: "Open Sans", sans-serif;
}

.top-bar-inner {
    @include centered-container();
    height: $top-bar-height;
    color: #f0f0f0;
}

.top-bar-inner .left-group {
    float: left;
    height: $top-bar-height;
}

.top-bar-inner .right-group {
    float: right;
    height: $top-bar-height;
}

.top-bar .logo-txt {
    display: block;
    float: left;
    height: $top-bar-height;
    line-height: $top-bar-height;


    font-size: 20px;
    font-weight: bold;
}

.top-bar .logo-img {
    display: block;
    float: left;

    width: $logo-size;
    height: $top-bar-height;

    background-image: image-url("code-fork-symbol.png");
    background-size: $logo-size $logo-size;
    background-repeat: no-repeat;
    background-position: center;

    margin-right: 5px;
}

.top-bar .avatar-img {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    border-radius: 5px;
}

$arrow-size: 10px;

.top-bar .arrow-icon {
    width: $arrow-size;
    height: $top-bar-height;

    display: inline-block;
    vertical-align: middle;

    background-image: image-url("chevron-arrow-down.png");
    background-size: $arrow-size $arrow-size;
    background-repeat: no-repeat;
    background-position: center;

    margin-left: 7px;
}

.top-bar .right-group {
    position: relative;
}

.top-bar .dropdown-container {
    width: 180px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    right: 0px;
    top: $top-bar-height - 4px;
    border: 1px solid #eee;
    box-shadow: 0px 2px 3px 0px #ccc;
}

.top-bar .dropdown-container .dropdown-header {
    padding: 10px;
    color: #888;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}

.top-bar .dropdown-container .dropdown-item-group {
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-bar .dropdown-container .dropdown-item a {
    padding: 7px 10px 7px 10px;
    display: block;
    color: #555;
    font-weight: lighter;
    font-size: 14px;
    text-decoration: none;
}

.top-bar .dropdown-container .dropdown-item a:hover {
    color: white;
    background-color: #396;
}


/*
 * --------------------------------------------
 * --------------  FILTER LIST ----------------
 * --------------------------------------------
 */

$filter-item-height: 63px;
$filter-item-border-thickness: 4px;
$filter-icon-width: 22px;

.filter-list-container {
    border-bottom: 1px solid #E1E4E8;
}

.filter-list {
    @include centered-container();
    font-family: "Open Sans", sans-serif;
}

.filter-list .filter-item {
    display: inline-block;
    line-height: $filter-item-height;
    position: relative;
    margin-right: 10px;
}

.filter-item .active-border {
    width: 100%;
    height: $filter-item-border-thickness;
    position: absolute;
    bottom: 0px;
    background-color: transparent;
}

.filter-item.active .active-border, .filter-item:hover .active-border {
    background-color: #396;
}

.filter-item:hover {
    cursor: pointer;

    & .active-border {
        background-color: #396;
    }
}

.filter-item .text, .filter-item .icon {
    display: inline-block;
    vertical-align: middle;
}

.filter-item .text {
    color: #586069;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

.filter-item .icon {
    padding-right: 10px;
    width: 10px + $filter-icon-width;
    background-image: image-url("inactive-filter.png");
    background-size: $filter-icon-width $filter-icon-width;
    height: $filter-item-height;
    background-repeat: no-repeat;
    background-position: center;
}

.filter-item.active .icon {
    background-image: image-url("active-filter.png");
}

/*
 * -----------------------------------------------
 * --------------  SEARCH RESULTS  ---------------
 * -----------------------------------------------
 */

$check-icon-width: 22px;

.search-info {
    @include centered-container();

    color: #333333;
    font-size: 20px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    padding-top: 40px;
    padding-bottom: 15px;
}

.search-result-list {
    @include centered-container();
    min-height: 60vh;
}

.search-result-item {
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: "Open Sans", sans-serif;
    border-top: 1px solid #E1E4E8;
	@include clearfix();
}

.search-result-item .info-container {
    width: 60%;
    float: left;
}

.search-result-item .checks-container {
    width: 25%;
    float: left;
}

.search-result-item .actions-container {
    width: 15%;
    float: left;
}

.search-result-item .info-container .title {
    margin-bottom: 15px;
}

.search-result-item .info-container .title a {
    color: #396;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.search-result-item .info-container .description {
    width: 320px;
    line-height: 22px;
    font-weight: lighter;
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}

.search-result-item .info-container .footnote {
    font-size: 12px;
    font-weight: lighter;
    color: #586069;
}

.check-item {
    text-align: right;
    color: #555;
    font-size: 14px;
    font-weight: lighter;
    padding-bottom: 10px;
}

.check-item .check-icon {
    display: inline-block;
    width: $check-icon-width;
    height: $check-icon-width;
    vertical-align: middle;
    margin-left: 5px;
    background-size: $check-icon-width $check-icon-width;
    background-repeat: no-repeat;
    background-position: center;
}

.check-item .check-icon.icon-success {
    background-image: image-url("check-success.png");
}

.check-item .check-icon.icon-warning {
    background-image: image-url("check-warning.png");
}

.search-result-item .actions-container .delete-button {
    font-family: "Open Sans", sans-serif;
    padding: 15px;
    background-color: #C32020;
    border-radius: 4px;
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
    border: none;
    display: block;
    float: right;
    margin-bottom: 10px;
}

.search-result-item .actions-container .small-action {
    font-size: 12px;
    font-weight: normal;
    text-decoration: underline;
    color: #333;
    display: block;
    float: right;

    &:hover {
        cursor: pointer;
    }
}

.footer {
    @include centered-container();
    font-family: "Open Sans", sans-serif;
    text-align: center;
    a {
        font-size: 14px;
        font-weight: lighter;
        color: #555;
    }
    border-top: 1px solid #E1E4E8;
    padding-top: 20px;
    padding-bottom: 10px;
}
