$image-width-expanded: 100px;
$image-width-collapsed: 45px;
$image-height-expanded: 100px;
$image-height-collapsed: 45px;

$top-margin-expanded: 100px;
$top-margin-collapsed: 30px;

$heading-width: 186px;
$heading-height: 40px;

$subheading-line-height: 20px;

$subheading-width-expanded: 150px; // Wrap line
$subheading-width-collapsed: 300px;

$transition-duration: 1s;
$faq-opacity-transition-delay: 300ms;
$faq-opacity-transition-duration: 500ms;
$faq-height-transition-duration: 750ms;

$content-width: 640px;

$heading-x-left-expanded: 50%;
$heading-y-top-expanded: $image-height-expanded + 10px;
$heading-x-left-collapsed: $image-width-collapsed + 10px;
$heading-y-top-collapsed: 0px;

$subheading-x-left-expanded: 50%;
$subheading-y-top-expanded: $heading-y-top-expanded + $heading-height + 5px;
$subheading-x-left-collapsed: $heading-x-left-collapsed;
$subheading-y-top-collapsed: $heading-y-top-collapsed + $heading-height + 5px;

$subheading-height: 2 * $subheading-line-height;
$animatable-wrapper-height-expanded: $subheading-y-top-expanded + $subheading-height + 50px;
$animatable-wrapper-height-collapsed: $subheading-y-top-collapsed + $subheading-height + 10px;

.marketing-wrapper {
    max-width: $content-width;
    margin-left: auto;
    margin-right: auto;
    font-family: "Open Sans", sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

.animatable-wrapper {
    position: relative;

    height: $animatable-wrapper-height-expanded;
    margin-top: $top-margin-expanded;
    transition-property: margin-top, height;
    transition-duration: $transition-duration;
}

.animatable-wrapper.collapsed {
    height: $animatable-wrapper-height-collapsed;
    margin-top: $top-margin-collapsed;
}

.animatable-wrapper .image-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    // Position the image in the left
    text-align: left;

    max-width: $image-width-expanded; // Width of image
    transition-property: max-width;
    transition-duration: $transition-duration;
}

.animatable-wrapper.collapsed .image-wrapper {
    max-width: 100%;
}

.animatable-wrapper .image-wrapper img {
    width: $image-width-expanded;

    transition-property: width;
    transition-duration: $transition-duration;
}

.animatable-wrapper.collapsed .image-wrapper img {
    width: $image-width-collapsed;
}

.animatable-wrapper h1.heading {
    font-size: 32px;
    font-weight: bold;
    color: #333;

    display: inline-block;
    position: absolute;
    width: $heading-width;
    line-height: $heading-height;

    top: $heading-y-top-expanded;
    left: $heading-x-left-expanded;
    transform: translateX(-50%);
    transition-property: top, left, transform;
    transition-duration: $transition-duration;
}

.animatable-wrapper.collapsed h1.heading {
    transform: none;
    top: $heading-y-top-collapsed;
    left: $heading-x-left-collapsed;
}

.animatable-wrapper span.subheading {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    color: #555;
    line-height: 20px;
    margin-bottom: 40px;
    text-align: center;

    position: absolute;
    top: $subheading-y-top-expanded;
    left: $subheading-x-left-expanded;
    transform: translateX(-50%);

    opacity: 1;
    max-width: $subheading-width-expanded;
    transition-property: max-width, opacity, top, left, transform;
    transition-duration: $transition-duration;
}

.animatable-wrapper.collapsed span.subheading {
    transform: none;
    max-width: $subheading-width-collapsed;
    top: $subheading-y-top-collapsed;
    left: $subheading-x-left-collapsed;
    opacity: 0;
}


.marketing-wrapper a.primary-button {
    display: block;
    background-color: #396;
    width: 180px;
    line-height: 50px;
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 5px 0px #eee;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

    &:hover {
        background-color: darken(#396, 5);
        box-shadow: 0px 0px 5px 0px #ddd;
    }
}

.marketing-wrapper span.subtext {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 12px;

    a {
        color: #aaa;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.faq-wrapper {
    overflow: hidden;
    max-height: 0px;
    padding-top: 20px;
    opacity: 0;

    transition: opacity
                $faq-opacity-transition-duration
                ease-in
                $faq-opacity-transition-delay,

                max-height
                $faq-height-transition-duration
                ease-in;
}

.faq-wrapper.expanded {
    opacity: 1;
    max-height: 750px;
}

.faq-wrapper .question {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
    color: #444;
    line-height: 24px;
}

.faq-wrapper .answer {
    color: #666;
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
