<!DOCTYPE html>
<html>
  <head>
    <title>CleanForks</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta property="apiUrl" content="<%= root_url %>" />
    <!-- TODO: Only show this for marketing page until app is responsive? -->
    <meta name="viewport" content="width=device-width">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
